{% extends "base.html" %}

{% block  content %}

<h1> search results:'{{ search }}' </h1>
<samall> Top results here.</small> 



<div class="container">
    <div class="col-sm-12">

{% for search in articles %}
<div>
    <h5>{{search['title']}} </h5>
    <h3 class="text-primary"><u>{{search['source.name']}}</u></h3>
   <img  src="{{search['urlToImage']}}" width = "100%" height = "300"  >
 <div>
    <h5>{{ search['title'] }}</h5> 
    <span><b>Published:</b><i>{{search['publishedAt']}}</i></span>
    <p >{{ search['description']}}... </p>
    <a href="{{search['url']}}" class="btn btn-success" target=_blank>Read more</a>
  </div>
</div>
{% endfor %}
<div>
</div>


{% endblock  %}